@using FootballProjectSoftUni.Core.Models.Match
@model EnterResultViewModel

@{
    ViewBag.Title = "Въведи резултат";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="EnterResult" method="post">
    <input type="hidden" asp-for="MatchId" />
    <input type="hidden" asp-for="TournamentId" />
    <input type="hidden" asp-for="Team1Id" />
    <input type="hidden" asp-for="Team2Id" />
    <input type="hidden" asp-for="Team1Name" />
    <input type="hidden" asp-for="Team2Name" />

    <div class="row">

        <div class="col-md-6 border-end">
            <h4 class="text-center">@Model.Team1Name</h4>

            <div class="mb-3">
                <label asp-for="Team1Goals" class="form-label">Голове</label>
                <input asp-for="Team1Goals" class="form-control" type="number" min="0" />
                <span asp-validation-for="Team1Goals" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <h4 class="text-center">@Model.Team2Name</h4>

            <div class="mb-3">
                <label asp-for="Team2Goals" class="form-label">Голове</label>
                <input asp-for="Team2Goals" class="form-control" type="number" min="0" />
                <span asp-validation-for="Team2Goals" class="text-danger"></span>
            </div>
     </div>

    </div>

    <button type="submit" class="btn btn-primary mt-4 w-100 fw-bold">
        Запази резултат
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
